////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
///////// MARGIN
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@for $i from 0 through 5 {
    .m-#{$i} { margin: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .m-#{$i*10} { margin: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .m-t-#{$i} { margin-top: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .m-t-#{$i*10} { margin-top: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .m-r-#{$i} { margin-right: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .m-r-#{$i*10} { margin-right: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .m-b-#{$i} { margin-bottom: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .m-b-#{$i*10} { margin-bottom: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .m-l-#{$i} { margin-left: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .m-l-#{$i*10} { margin-left: 10px * $i !important; }
}

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
///////// PADDING
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@for $i from 0 through 5 {
    .p-#{$i} { padding: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .p-#{$i*10} { padding: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .p-t-#{$i} { padding-top: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .p-t-#{$i*10} { padding-top: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .p-r-#{$i} { padding-right: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .p-r-#{$i*10} { padding-right: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .p-b-#{$i} { padding-bottom: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .p-b-#{$i*10} { padding-bottom: 10px * $i !important; }
}

@for $i from 0 through 5 {
    .p-l-#{$i} { padding-left: 1px * $i !important; }
}

@for $i from 1 through 10 {
    .p-l-#{$i*10} { padding-left: 10px * $i !important; }
}